/* -------- ADD IRANGA FORM -------- */

.iranga-form-and-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

}
.create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    text-align: center;
    border-radius: 10px; 
    background: rgb(236, 232, 229);
    margin-top: 100px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.397);
    padding-bottom: 40px;
}

.create h3 {
    margin: 0 auto;
    margin-bottom: 10px;
    color: rgb(50, 59, 85);
}

label {
    font-size: 15px;
}

input,
textarea,
select {
    align-items: center;
    text-align: center;
    font-family: "Inknut Antiqua", serif;
    width: 50%; 
    padding: 3px 0;
    margin-bottom: 15px;
    border: 1px solid #ced4da; 
    border-radius: 4px; 
    font-size: 15px; 
    transition: border-color 0.3s;
}

input:focus,
textarea:focus,
select:focus {
    border-color: #020b1481; 
    outline: none; 
}

#image {
    background-color: white;
    padding: 3px;
    align-items: center;
    text-align: center;
}

.preview-img {
    width: 90%;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.error {
    border-color: #dc3545;
    width: 50%; 
}

/*  --- add iranga, add draft, cancel editing buttons --- */

.add-draft-or-iranga-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media screen and (max-width: 750px) {
    .add-draft-or-iranga-btns {
        flex-direction: column;
    }
}

.add-iranga-btn {
    background-color: rgba(193, 136, 89, 0.664);
    color: black;
    max-width: 700px;
    font-size: 16px;
    margin: 15px;
    border-radius: 50px;
}

.add-iranga-btn:hover {
    cursor: pointer;
    border-radius: 50px; 
    background-color: rgba(193, 136, 89, 0.664); 
}

.add-draft-btn {
    background-color: rgba(69, 77, 99, 0.842);
    font-size: 15px;
    border-radius: 50px;
    color: white;
    max-width: 700px;
    margin: 15px;
}

.add-draft-btn:hover {
    background-color: rgb(69, 77, 99);
    color: white;
    cursor: pointer;
    border-radius: 50px;
}

.cancel-draft-edit {
    background-color: rgba(133, 33, 33, 0.678);
    font-size: 15px;
    border-radius: 50px;
    color: black;
    max-width: 500px;
    width: 100%;
}

.cancel-draft-edit:hover {
    background-color: rgba(167, 30, 30, 0.842);
    font-size: 15px;
    border-radius: 50px;
    cursor: pointer;
}

.error {
    color: #dc3545; 
    margin-top: 10px; 
}


.iranga-list {
    width: 100%; 
    margin-top: 20px; 
}

.iranga-list h3 {
    margin-bottom: 10px; 
}


@media (max-width: 600px) {
    .iranga-form-and-list {
        padding: 10px;
    }

    .create {
        padding: 15px; 
    }

    button {
        width: 100%; 
    }
}