/* ------- CHANGE IRANGA FORM ------- */

.edit-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    text-align: center;
    border-radius: 10px; 
    background: rgb(236, 232, 229);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.397);
    padding-bottom: 40px;
}

.iranga-form-and-list h3 {
    font-weight: 700;
    width: 80%;
    text-align: center;
    font-size: clamp(20px, 4vw, 30px);
    margin: 20px;
    color: rgb(50, 59, 85);
}

#description {
    height: 300px;
}

.change-iranga-btn {
    background-color: rgba(193, 136, 89, 0.664);
    color: black;
    max-width: 700px;
    font-size: 16px;
    margin: 15px;
    border-radius: 50px;
}

.change-iranga-btn:hover {
    cursor: pointer;
    border-radius: 50px; 
    background-color: rgba(193, 136, 89, 0.664); 
}