/* ------- DRAFTS ------- */
.draft-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.drafts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    background: rgb(236, 232, 229);
    margin-top: 100px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.397);
    color: rgb(50, 59, 85);
    border-radius: 10px;
}

.drafts h3 {
    font-weight: 700;
    width: 80%;
    text-align: center;
    font-size: clamp(20px, 4vw, 30px);
    margin: 20px;
    color: rgb(50, 59, 85);
}

.drafts ul {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    width: 100%;
    list-style-type: none;
    margin: 0;
}

.one-draft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    border: 1px solid #e6eef1;
    width: 300px; 
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin: 20px;
    background-color: white;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    border: 1px solid rgba(0, 0, 0, 0.651);
}

.one-draft h4 {
    margin: 10px 0;
    font-size: 80%;
    color: #333;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.draft-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 250px);
    padding: 0 20px; 
    box-sizing: border-box; 
}

.draft-content p {
    margin: 0;
    padding: 4px;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.404);
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.draft-content p:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.397);
}

.draft-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.draft-actions button {
    background-color: rgba(193, 136, 89, 0.664);
    color: black;
    max-width: 700px;
    font-size: 16px;
    margin: 15px;
    border-radius: 50px;
}

.draft-actions button:hover {
    cursor: pointer;
    border-radius: 50px; 
    background-color: rgba(193, 136, 89, 0.664); 
    transform: scale(1.05);
}


@media (max-width: 1200px) {
    .drafts ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .drafts ul {
        grid-template-columns: 1fr;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
    
    .drafts ul li {
        min-height: 120px;
        padding: 15px;
    }
}

.no-drafts {
    font-weight: 600;
}