/* ------- IRANGA DETAILS -------- */

.iranga-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    border: 1px solid #e6eef1;
    width: 90%;
    max-width: 300px; 
    height: 500px; 
    
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin: auto;
}

/* ------- Iranga photos ------- */

.iranga-photo, .iranga-photo-placeholder {
    width: 250px;
    height: 250px; 
    margin-bottom: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
}

.iranga-photo-placeholder {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iranga-details-buttons {
    margin-top: auto; 
}

.iranga-details button a {
    color: black;
    text-decoration: none;
}

.iranga-details h4 {
    margin: 10px 0;
    font-size: 80%;
    color: #333;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.iranga-details p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 100%;
    color: #333;

}

.iranga-details strong {
    font-weight: bold;
    color: #333;
}

.iranga-details .kaina {
    font-size: 25px;
    color: rgb(219, 60, 73);
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(219, 60, 73, 0.5);
    background-color: rgba(219, 60, 73, 0.1);
    padding: 8px 12px; 
    border-radius: 50%; 
}

.iranga-details-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.iranga-details-buttons button {
    margin: 10px;
    font-size: 15px;
    color: black;
}

.trashcan {
    font-size: 25px;
    cursor: pointer;
    color: #333;
    transition: color 0.3s ease, transform 0.3s ease;
}

.trashcan:hover {
    color: #ff5733;
    transform: scale(1.1); 
}


.trashcan {
    position: absolute;  
    top: 10px; 
    right: 10px; 
}

