/* ------- HOME -------- */

.home {
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 50px 50px;
    background-color: white;
    color: black;

}

.iranga h2 {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;

}

.iranga p {
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    max-width: 100%;
    padding: 20px;
}

.all-iranga-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin: 10px;
}

@media (max-width: 1200px) {
    .all-iranga-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .all-iranga-list {
        grid-template-columns: repeat(1, 1fr); 
    }
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    width: 100%;
    max-width: 500px;
    height: 100px;
}

.search-container p {
    font-size: 16px;
}

.search-input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #cccccc41;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
}

.input:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
  }

.search-input::placeholder {
    color: #776e6e;
}