/* ------- ISSAMI INFO + KALENDORIUS ------- */

.reserve-iranga-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
    width: 100%;
}

.reserve-iranga-page h3 {
    font-size: 25px;
    text-transform: uppercase;
}

.reserve-iranga-page h2 {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

.issami-info-kalendorius {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    max-width: 90%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid #e6eef1;
    padding-bottom: 20px;
}

.issami-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 20px;
    color: black;
    max-width: 500px;
}

.issami-info img {
    max-width: fit-content;
}

.issami-info h2 {
    margin: 10px 0;
    font-size: 100%;
    color: #333;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.p-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    font-size: 80%;
}

.p-info p {
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin: 5px;
    text-transform: uppercase;
}

.p-info strong {
    text-transform: capitalize;
}

.aprasymas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 10px;
    font-size: 100%;
    color: #333;
    width: 400px;
}

.calendar-box {
    margin: 20px;
    padding: 20px;
   
}

.calendar {
    padding: 20px;
    font-family: "Inknut Antiqua", serif;
    color: black;
    max-width: 600px;
}

.calendar button {
    font-size: 15px;
}

.rezervuoti, .grizti {
    color: black;
    max-width: 60%;
    font-size: 100%;
    margin: 10px;
}