/* ------- MANAGE USERS PAGE ------- */
.manage-all-users {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 20px 20px 40px 20px;
    text-align: center;
    border-radius: 10px;
    background: rgb(236, 232, 229);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.397);
    margin: 0;
    margin-top: 100px;
}

.manage-all-users h2 {
    color: rgb(50, 59, 85);
    font-weight: 700;
    width: 80%;
    text-align: center;
    font-size: clamp(20px, 4vw, 30px);
    margin: 20px;
}

.users-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center; 
    text-align: center;
    width: 100%;
    max-width: 1200px; 
    list-style-type: none;
    margin: 0 auto;
    gap: 10px;
}

@media (max-width: 1450px) {
    .users-list {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        max-width: 800px; 
        gap: 10px;
    }
}

@media screen and (max-width: 900px) {
    .users-list {
        grid-template-columns: minmax(250px, 1fr);
        max-width: 400px; 
        gap: 10px;
    }

    .manage-all-users {
        width: 90%; 
        margin: 50px auto; 
    }
}

.user-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    border: 1px solid #e6eef1;
    width: 300px; 
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin: 20px;
    background-color: white;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    border: 1px solid rgba(0, 0, 0, 0.651);
    padding: 20px;
    max-width: 300px;
    width: 100%;
    margin: 20px;
}

.user-section strong {
    font-weight: 600;
    font-size: 17px;
    max-width: 80%;
}

.user-section h3, 
.user-section p, 
.user-section button, 
.user-section label {
    color: black;
}

.user-section h3 {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    font-size: 15px;
    margin-bottom: 8px;
    font-weight: 400;
}

.user-section p {
    font-size: 15px;
}

.user-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.user-section button {
    max-width: 100%; 
}

.check-reservation-btn {
    background-color: rgba(193, 136, 89, 0.664);
    color: black;
    max-width: 700px;
    font-size: 16px;
    margin: 10px;
    border-radius: 50px;
    margin-bottom: 5px;
}

.check-reservation-btn:hover {
    cursor: pointer;
    border-radius: 50px; 
    background-color: rgba(193, 136, 89, 0.89);
    color: white;
}

.delete-user-btn {
    background-color: rgba(167, 25, 25, 0.425);
    font-size: 15px;
    border-radius: 50px;
    color: black;
    max-width: 500px;
    width: 100%;
    margin: 10px;
}

.delete-user-btn:hover {
    background-color: rgba(218, 79, 79, 0.842);
    font-size: 15px;
    border-radius: 50px;
    cursor: pointer;
    color: white;
}

.user-actions select {
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    padding: 5px 15px;
    width: 90%;
    border-color: black;
    background: rgba(236, 232, 229, 0.514);
    width: 100%;
}