/* -------------- root layout CSS ------------------------*/
.root-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background: rgb(193,136,89);
    background: linear-gradient(180deg, rgba(163, 114, 107, 0.432) 0%, rgba(32, 75, 139, 0.63) 90%);
    margin-bottom: 15px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.562);
}

/* ---------------- Footer Styling ------------------------- */
.footer {
    display: flex;
    margin: 10;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer h2 {
    font-size: 40px;
    padding: 0;
    margin: 0;
}

.footer button, .footer input {
    width: 100%;
}

.footer p {
    max-width: 600px;
    margin: 10px;
    padding: 20px;
}

.footer form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}